<template name="dqDemo">

    <style type="text/css">
    .litmusSr {
        cursor: pointer;
    }
    </style>

    <script src="//cdn.jsdelivr.net/pouchdb/5.3.2/pouchdb.min.js"></script>

    <center>
    <div class="row" style="margin:auto;width:50%">
        <div class="input-field col s6" style="width:50%;margin:auto">
          <input id="studentName" type="text" class="validate">
          <label for="studentName">Student Name</label>
        </div>
        <div class="input-field col s6" style="width:50%;margin:auto">
          <input id="realTimeGrade" type="text" class="validate">
          <label for="realTimeGrade">Grade</label>
        </div>
    </div>

    <a class="waves-effect waves-light btn" id="startTest" style="margin:auto">Start Test</a>

    <br>
    <br>
    <br>
    <p id="dispQuestion"></p>





    <table id="recommendations" class="striped centered bordered" style="width:70%">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>

    </center>

    <!-- <table id="recommendations" style="width:70%;float:center">
    </table> -->

</template>
