<template name="searchKM">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="AdminLTE.min.css">
    <script type="text/javascript" src="384.js"></script>
    <style type="text/css">
    .node {
        cursor: pointer;
    }
    
    .backButton {
        cursor: pointer;
    }
    
    .collection-item {
        cursor: pointer;
    }
    
    .collection {
        border: 0px
    }
    
    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke - width: 3 px;
    }
    
    .node text {
        font: 12 px sans - serif;
    }
    
    .link {
        fill: none;
    }
    
    p:hover {
        cursor: pointer;
    }
    
    #studentUl {
        width: 12em;
        height: 10em;
        line-height: 2em;
        border: 1px solid #ccc;
        padding: 0;
        margin: 0;
        overflow: scroll;
        overflow-x: hidden;
    }
    
    .breadcrumb>li+li:before {
        content: initial;
        padding: 0 5px;
        color: #cccccc;
    }
    
    .sub-list-card {
        background-color: #e2e2e2;
        border-bottom: 1px solid #bdbdbd;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 8px;
        max-width: 300px;
        min-height: 20px;
        position: relative;
        z-index: 2;
        color: #666;
        padding: 6px 8px 10px;
    }
    
    .bg-purple {
        background-color: #605ca8 !important;
    }
    
    .label {
        margin-right: 5px;
    }
    
    .card-title {
        text-transform: capitalize;
    }
    
    .modal-title {
        text-transform: capitalize;
    }
    
    .lesson-details th {
        vertical-align: top;
    }
    
    .lesson-details td {
        padding-bottom: 5px;
        padding-left: 10px;
    }
    
    body,
    .modal-body {
        background-color: #ecf0f5;
    }
    
    .main-header .navbar {
        background-color: #3c8dbc;
    }
    
    .main-header .logo {
        background-color: #367fa9;
        color: #fff;
        border-bottom: 0 solid transparent;
    }
    </style>
    <script type="text/javascript">
    function setStudentSession(elem) {

        var allActiveItems = document.getElementsByClassName("collection-item active");
        for (var i = 0; i < allActiveItems.length; i++) {
            allActiveItems[i].className = "collection-item";
        }

        elem.className = "collection-item active";

        console.log('selectedStudent ', elem.innerHTML);
        Session.set('selectedStudent', elem.innerHTML);

        // if (base["compare"] == "lessons") {
        if (Session.get("selectedLesson") != "") {
            var lessonFromDB = KnowledgeMapsData.find({
                "sr": (Session.get('selectedStudent'))
            }).fetch();
            if (lessonFromDB.length > 0) {
                Session.set('selectedLessonName', lessonFromDB[0]["name"]);
            }
            classWiseScores = initClassWiseScores(base);
            makeTree((Session.get('selectedLesson')), classWiseScores);
        } else {
            performanceLine();
        }
    }

    displaySelection = function() {
        document.getElementById("displayUnit").innerHTML = "";
        if (Session.get('selectedUnit') != '') {
            var str = "Unit: " + Session.get('selectedUnit') + " &nbsp; >";
            document.getElementById("displayUnit").innerHTML = str;
        }

        document.getElementById("displayTopic").innerHTML = "";
        if (Session.get('selectedTopic') != '') {
            var str = "Topic: " + Session.get('selectedTopic') + " &nbsp; >";
            document.getElementById("displayTopic").innerHTML = str;
        }

        document.getElementById("displayLesson").innerHTML = "";
        if (Session.get('selectedLessonName') != '') {
            var str = "Lesson: " + Session.get('selectedLessonName');
            document.getElementById("displayLesson").innerHTML = str;
        }
    }
    </script>
    <!-- container -->
    <div>
        <header class="main-header">
            <a href="/" class="logo pointer">
                <div style="height:100%;width:100%;background:url('/images/Zaya_logo_white.png') no-repeat 10px center;background-size:auto 60%;" refresh-cache="">KMaps</div>
            </a>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Zaya Evaluation System : English</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- <li><a href="http://kmaps-maths.zaya.in/"><span  class="text-primary">CHECK MATH INSIGHTS</span></a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- end of container -->
        </header>
        <div class="container-fluid" style="padding-top:40px;">
            <div class="row">
                <div class="col-lg-9">
                    <div class="box box-info" style="overflow:hidden;">
                        <ul class="breadcrumb  box-header with-header">
                            <span class="text-muted" style="font-size:1.4em;margin-right:10px;">Insights </span>
                            <li><a href="#" class="navigation" id="displayUnit">Unit</a></li>
                            <li><a href="#" class="navigation" id="displayTopic">Topic</a></li>
                            <li> <a href="#" class="navigation" id="displayLesson">Lesson</a></li>
                        </ul>
                        <div class="box-body">
                            <div class="insight-container" id="boxPlotDiv" style="overflow-x:scroll;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box box-info">
                        <div class="box-header with-header"><span style="font-size:1.4em;" class="text-muted">Settings</span></div>
                        {{#if ready}}
                        <div class="box-body">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <select id="grade" class="form-control">
                                                <option value="" disabled selected>Choose grade</option>
                                                <option value="1">1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <select id="subject" class="form-control">
                                                <option value="" disabled selected>Choose subject</option>
                                                <option value="English">English</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{#if student}}
                                            <h4>Select Student</h4>
                                            <select multiple="" class="form-control" style="height:150px;">
                                                {{#each student}}
                                                <option onclick="setStudentSession(this)">{{name}}</option>
                                                {{/each}}
                                            </select>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12" id="playlist">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        {{else}} 
                        <div class="box-body text-center">
                            <img src="/images/loading.gif" height="30px" width="30px">
                            <br>
                            <br>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <!-- div class="container" style="float:left">
            <div class="input-field col s12" style="width:200px;float:left;margin-right:10px">
            </div>

            <div class="input-field col s12" style="width:200px;float:left;margin-right:10px">
                <br/>
            </div>

            <div class="collection with-header" style="float:left;margin-right:10px;margin-top:20px;width:200px;height:150px;overflow:auto;">
            </div>

        </div> -->
        <!-- <div class="collection" id="playlist" style="float:right;margin-top:20px;width:200px;height:150px;overflow:auto;">
        </div> -->
        <!-- <a class="waves-effect waves-light btn" id="callTempButton" style="margin:auto">call temp</a> -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6" id="modal-left"></div>
                            <div class="col-xs-6" id="modal-right"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $('#myModal').on('hidden.bs.modal', function() {
        console.log('test', 'gotcha');
        $('video')[0].pause();
    })
    </script>
</template>
